<html>

<body>
    <div class="card">
        <i class="fa-solid fa-user fa-5x" style="color: #70056f"></i>

        <div class="loginInput">
            <div class="input">
                <i class="fa-solid fa-user fa-xl" style="color: #7a7a7a"></i>
                <input type="text" placeholder="Informe seu nome" name="email" [(ngModel)]="newLogin.name" />
            </div>
            <div class="input">
                <i class="fa-solid fa-envelope fa-xl" style="color: #7a7a7a;"></i>
                <input type="text" placeholder="Informe o email" name="email"  [(ngModel)]="newLogin.username"/>
            </div>
            <div class="input">
                <i class="fa-solid fa-key fa-xl" style="color: #7a7a7a;"></i>
                <input type="password" placeholder="Crie uma senha" [(ngModel)]="newLogin.password" />
            </div>
        </div>

        <button (click)="creatUser()">Criar conta</button>
        
        <div class="linha"><hr  width = 100px noshade>ou<hr  width = 100px noshade></div>
        <button (click)="cancelCreat()">Voltar</button>
    </div>
</body>

</html>